.home-page-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 10px;
  padding: 50px;
  width: 100%;
  max-height: 100%;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .home-page-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
  }
}

.home-page-main-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin: 0px;
  font-size: 36px;
  line-height: 56px;
  color: #f1f5f9;
}

@media screen and (min-width: 768px) {
  .home-page-main-heading {
    font-size: 56px;
    line-height: 78px;
  }
}

.home-page-description {
  font-weight: 300;
  font-family: 'Roboto';
  margin-top: 26px;
  font-size: 20px;
  line-height: 34px;
  color: #f1f5f9;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .home-page-description {
    margin-top: 26px;
    font-size: 24px;
    line-height: 44px;
  }
}

.find-jobs-button {
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  background-color: #6366f1;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .find-jobs-button {
    width: 150px;
    font-size: 16px;
  }
}
