.job-details-page-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 28px;
}

.job-detail-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #272727;
  padding: 34px;
  padding-top: 36px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.similar-job-item {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: #272727;
  padding: 34px;
  padding-top: 36px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.company-logo-title-card {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 24px;
}

.company-logo {
  width: 100%;
  max-width: 74px;
}

.company-title-rating-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-title {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
}

.job-location-employment-package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  border-bottom: 3px solid #64748b;
  margin-bottom: 24px;
  gap: 20px;
}

.similar-job-location-employment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  gap: 20px;
}

.location-card {
  display: flex;
  align-items: center;
  gap: 14px;
}

.employment-type-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  flex-grow: 1;
  flex-shrink: 1;
}

.location-employment-icon {
  width: 24px;
  height: 24px;
}

.job-location {
  color: #f8fafc;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 16px;
}

.job-package {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star {
  height: 20px;
  width: 20px;
  color: #fbbf24;
}

.job-description-heading {
  font-family: roboto;
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
  margin-top: 24px;
  color: #f8fafc;
}

.job-description {
  font-family: roboto;
  font-size: 14px;
  line-height: 30px;
  margin: 0px;
  margin-top: 20px;
  color: #f8fafc;
}

.job-company-details {
  margin-bottom: 28px;
}

.visit-company-link {
  display: flex;
  align-items: center;
  color: #6366f1;
  gap: 10px;
  text-decoration: none;
}

.job-description-title-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-skills-list {
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skill-image {
  width: 50px;
}

.skill-item {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.skill-name {
  font-family: roboto;
  font-size: 14px;
  line-height: 30px;
  margin: 0px;
  color: #f8fafc;
}

.life-at-company-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.life-at-company-description {
  font-family: roboto;
  font-size: 14px;
  line-height: 30px;
  margin: 0px;
  color: #f8fafc;
}

.life-at-company-image {
  min-width: 400px;
}

.job-details-error-view-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

.job-details-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .job-details-failure-img {
    width: 400px;
    height: 350px;
  }
}

.job-details-failure-heading-text {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .job-details-failure-heading-text {
    font-size: 24px;
  }
}

.job-details-failure-description {
  text-align: center;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .job-details-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

.job-details-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
