.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 36px 22px;
  width: 100%;
  border-radius: 28px 28px 16px 16px;
}

.retry-card {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .profile-card {
    border-radius: 28px;
  }
}

.profile-img {
  width: 70px;
}

.profile-name {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  color: #4f46e5;
  margin: auto;
  margin-top: 10px;
}

.profile-bio {
  font-family: Roboto;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  color: #475569;
}
